body{
	font-family: arial;
	
}
.list-grid,.todo-grid{
display: grid;
grid-template-columns: 200px 150px 100px;
grid-column-gap: 10px;
grid-row-gap: 10px;
align-items: center;
}
.del-button{
	padding: 10px 30px 10px 30px;
	background: darkred;
	color:#fff;
	border: none;
    font-size:15px;
    cursor: pointer;

}

.add-button{
	padding: 10px 30px 10px 30px;
	border:none;
	background: green;
	color:#fff;
	font-size: 15px;
	cursor: pointer;
}

.input{
padding:6px;
font-size: 15px;
}
.todo-grid{
	margin-bottom:10px;
}
